body{
    margin: 0;
    user-select: none;
    background: #ccc;
    overflow: auto;
}
a{
    text-decoration: none;
    color: indigo;
}
#canvas{
    background: white;
    display: block;
    margin: auto;
}

/*=============================================
//              POP UP WINDOW
=============================================*/
#new_or_saved_section{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: indigo;
    display: none;
}
.new_or_saved_box{
    width: 42%;
    font-size: 2vw;
    text-align: center;
}
.new_or_saved_btns_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.new_or_saved_btns{
    font-size: 2vw;
    border: 0.1vw solid indigo;
    width: 15%;
    background: white;
    padding: 1% 5%;
}
.new_or_saved_btns:hover{
    background: indigo;
    color: white;
}
.new_or_saved_btns:hover a{
    color: white;
}

/*=============================================
//           SAVED AND DELETED ALERTS
=============================================*/
#saved{
    color: green;
    font-size: 1.8vw;
    position: absolute;
    left: 1%;
    display: none;
}

#deleted{
    color: red;
    font-size: 1.8vw;
    position: absolute;
    left: 1%;
    display: none;
}

/*=============================================
//              DRAWING TOOLS
=============================================*/

button,#size,#tools{
    z-index: 2;
    margin: 0;
    width: 7%;
    border-radius: 0.2vw;
    border: 0.1vw solid #111;
    box-shadow: 0 0 1vw;
    background: #111;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}
button:hover, #size:hover,#tools:hover{
    background: white;
    color: #111;
}

#tools_container{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 0.001vw solid #111;
    background: rgb(245,245,245);
}

#to_pixel_page{
    height: 2.7vw;
    width: 12%;
}

#btn{
    margin: 0 1.2% !important;
}

#eraser{
    margin: 0 1%;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

#tools_container button,select,div{
    margin:0 2%;
    padding: 0.5% 1%;
    font-size: 1.2vw;
    outline: none;
}

option{
    color: white;
    background: black;
    transition: 1s;
}

#built_in_colors{
    width: 10%;
    border-width: 0.2vw;
    border-radius: 0.4vw;
    border: 0.1vw solid #111;
    background: black;
    color: white;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

#color{
    margin: 0 1%;
    padding: 0;
    width: 10%;
    height: 2.4vw;
    border-width: 0.2vw;
    border-radius: 0.4vw;
    background: black;
    color: white;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

#built_in_colors option{
    color: transparent;
}

#canvas_img{
    width: 100%;
    height: 100%;
}

#tools{
    position: relative;
    width: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.45vw;
}

#drop_down{
    position: absolute;
    left: -30%;
    width: 152.5%;
    top: 100%;
    border: 0.1vw solid black;
    border-radius: 0 0 0.5vw 0.5vw;
    box-sizing: border-box;
    background: rgb(245,245,245);
    display: none;
}

#drop_down > div{
    color: black;
    height: 2vw;
    display: flex;
}

.tool_favicon_container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: space-evenly;
}

.tool_favicon_container:hover{
    background: #ccc;
}


#small_btns_container{
    position: absolute;
    width: 15%;
    height: 2.5vw;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

#save{
    width: 25%;
    height: 100%;
    margin-right: 1% !important;
    padding: .6% 0 !important;
    cursor: not-allowed !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete_storage{
    color: white;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1% !important;
}

#delete_storage:hover{
    color: red;
}

#settings_btn{
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

#settings_drop_down{
    position: absolute;
    top: 120%;
    right: -2%;
    width: 100%;
    background: #111;
    color: white;
    padding: 5% 0;
    display: none;
}

#settings_drop_down > div{
    display: flex;
    height: 2vw;
    justify-content: space-evenly;
    align-items: center;
}

label{
    cursor: pointer;
}

#info_btn{
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

#info_box{
    position: absolute;
    z-index: 3;
    right: 0%;
    top: 7%;
    width: 20%;
    background: rgba(50,50,50,0.9);
    color: white;
    border: 0.1vw dashed white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    display: none;
}

#info_box > div{
    margin: 2% 0;
    padding: 1% 0;
    text-align: center;
}
/* --------------------------------------------------------------------- */

.shape_box{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background: rgba(0,0,255,0.3);
    z-index: 5;
    display: none;   
    box-sizing: border-box;
}
.text_box{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background: rgba(0,0,255,0.3);
    z-index: 5;
    display: none;   
    box-sizing: border-box;
}
.line_box{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 20%;
    box-sizing: border-box;
    display: none;   
    z-index: 5;
}
#square_fill_shape_box_before_drawing{
    border: 0.2vw dashed blue;
}

#square_stroke_shape_box_before_drawing{
    border: 0.2vw dashed blue;
    background: transparent;
}

#circle_fill_shape_box_before_drawing{
    border-radius: 50%;
}

#circle_stroke_shape_box_before_drawing{
    border: 0.2vw dashed blue;
    background: transparent;
    border-radius: 50%;
}

#text_box_before_drawing{
    border: 0.2vw dashed blue;
    background: transparent;
}

#line_box_before_drawing{
    transform-origin: 0 0;
    border-top: 0.1vw dashed blue;
    background: transparent;
}