body{
    margin: 0;
    user-select: none;
}

button,select{
    z-index: 2;
    margin: 0;
    width: 7%;
    border-radius: 0.5vw;
}

#tools_container{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 0.001vw solid black;
}

#eraser{
    margin-right: 0;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tools_container button,select,div{
    margin:0 2%;
    padding: 0.5% 1%;
    font-size: 1.2vw;
    outline: none;
    /* border: none; */
    cursor: pointer;
}
#color{
    width: 12%;
    border-width: 0.2vw;
    box-shadow: 0 0 1vw;
    border-radius: 0.5vw;
}
